.signup__btn, .social__link--footer, .client__logo, .button, .menu-container, .header-contacts .link, .social__link, .link {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__list, .advantages__list, .hero .hero-title, .section {
  margin-left: auto;
  margin-right: auto;
}

.client__logo {
  display: flex;
  justify-content: center;
}

html {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}

body {
  color: #757575;
  font-family: "roboto", sans-serif;
}

ul {
  list-style: none;
  padding-left: 0;
  padding-right: 0;
}

img {
  display: block;
}

.link {
  color: #212121;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  transition-property: color;
}
.link:hover, .link:focus {
  color: #2196F3;
}

.current {
  color: #2196F3;
  position: relative;
}

.container, .client {
  align-items: center;
  max-width: 480px;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 768px) {
  .container, .client {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container, .client {
    max-width: 1200px;
  }
}

.section {
  flex-wrap: wrap;
  align-items: center;
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0px;
  }
}

.social__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.social__link:hover, .social__link:focus {
  color: #ffffff;
  background-color: #2196F3;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__icon {
  fill: currentColor;
}

.logo {
  color: #2196F3;
  text-decoration: none;
  font-family: "raleway", sans-serif;
  letter-spacing: 0.03em;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.17;
}
.logo__label--header {
  color: #000;
}
.logo__label--footer {
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    margin: 0;
  }
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.container-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}
@media (max-width: 767px) {
  .site-nav {
    display: none;
    margin-left: 88px;
  }
}
.site-nav .link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.header-contacts {
  display: none;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contacts {
    display: block;
    margin-left: 96px;
  }
  .header-contacts .item {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .header-contacts {
    display: flex;
    margin-left: auto;
  }
}
.header-contacts .item:not(:last-child) {
  margin-right: 50px;
}
.header-contacts .link {
  color: #757575;
  transition-property: background-color;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .item .link {
    font-size: 12px;
  }
}
.header-contacts .link:hover {
  color: #2196F3;
}

@media (max-width: 1199px) {
  .header-contacts .link:last-child {
    margin-top: 10px;
  }
}

.icon-mail,
.icon-phone {
  fill: currentColor;
  margin-right: 10px;
}

.item .current::after {
  content: "";
  display: block;
  background-color: #2196F3;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  margin-top: 20px;
  position: absolute;
  bottom: -1px;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-container {
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateY(-110%);
}
@media (max-width: 479px) {
  .menu-container {
    padding: 35px 30px;
  }
}

.menu-container.is-open {
  transform: translateY(0);
}

.item-mobile {
  margin-bottom: 32px;
}

.link-mobile {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
@media (max-width: 479px) {
  .link-mobile {
    font-size: 32px;
  }
}

.mob-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
  margin-top: 32px;
  margin-bottom: 64px;
}

.mob-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196F3;
  margin-top: 306px;
}
@media (max-width: 479px) {
  .mob-tel {
    margin-top: 250px;
    font-size: 26px;
  }
}

.mob-social {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
}
@media (max-width: 479px) {
  .mob-social {
    font-size: 14px;
    height: 22px;
  }
}

.social-list {
  display: flex;
}

.line {
  margin-left: 10px;
  margin-right: 10px;
}
@media (max-width: 479px) {
  .line {
    margin-left: 7px;
    margin-right: 7px;
  }
}

.js-close-menu {
  position: absolute;
  top: 10px;
  right: 15px;
}

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/Header_mobile_img.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding-bottom: 118px;
  padding-top: 118px;
  background-size: cover;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-bottom: 200px;
    padding-top: 200px;
    max-width: 1600px;
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/Header_mobile_img@2x.jpg");
  }
}
@media (min-width: 480px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/Header_tablet_img.jpg");
  }
}
@media (min-width: 480px) and (min-device-pixel-ratio: 2), (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 480px) and (min-resolution: 192dpi), (min-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/Header_tablet_img@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/Img-hero.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/Img-hero@2x.jpg");
  }
}
.hero .hero-title {
  color: #ffffff;
  text-transform: uppercase;
  text-align: Center;
  letter-spacing: 0.06em;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.62;
  width: 360px;
}
@media screen and (min-width: 1200px) {
  .hero .hero-title {
    font-size: 44px;
    width: 696px;
    line-height: 1.36;
  }
}

@media (max-width: 479px) {
  .hero .hero-title {
    font-size: 18px;
    width: 300px;
  }
}
.button {
  font-family: inherit;
  color: #ffffff;
  background-color: #2196F3;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border-width: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition-property: background-color;
  margin-top: 30px;
}
@media (min-width: 1200px) {
  .button {
    width: 216px;
  }
}

.backdrop {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
}

.modal {
  width: 450px;
  height: 609px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background: #FFFFFF;
  display: flexbox;
  padding: 40px;
}
@media (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
@media (max-width: 479px) {
  .modal {
    width: 90%;
    padding: 35px 20px;
  }
}

.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .form-title {
    line-height: 1.15;
  }
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}

.form-field label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.form-field input {
  width: 370px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  cursor: text;
}
@media screen and (min-width: 1200px) {
  .form-field input {
    width: 448px;
  }
}
@media (max-width: 479px) {
  .form-field input {
    width: auto;
  }
}

.form-input:focus {
  border: 1px solid #2196F3;
  border-radius: 4px;
}

.form-input:focus ~ svg {
  fill: #2196F3;
}

.form-icon {
  position: absolute;
  fill: inherit;
  top: 50%;
  left: 12px;
}

.form-textarea {
  width: 370px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;
  padding: 12px 16px;
}
@media screen and (min-width: 1200px) {
  .form-textarea {
    width: 448px;
  }
}
@media (max-width: 479px) {
  .form-textarea {
    width: auto;
  }
}

.form-textarea:focus-within {
  border: 1px solid #2196F3;
  border-radius: 4px;
}

.form-textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form-textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
@media screen and (min-width: 1200px) {
  .form-textarea::-moz-placeholder {
    font-size: 12px;
  }
  .form-textarea:-ms-input-placeholder {
    font-size: 12px;
  }
  .form-textarea::placeholder {
    font-size: 12px;
  }
}

.checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.checkbox-icon {
  width: 15px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
  display: inline-block;
  margin-right: 8px;
}
@media screen and (min-width: 1200px) {
  .checkbox-icon {
    margin-right: 7px;
  }
}

.checkbox:checked ~ .checkbox-icon {
  background-color: #2196F3;
  background-image: url(../img/icon-check.svg);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  border-color: transparent;
}

.policy-link {
  color: #2196F3;
  text-decoration: none;
  border-bottom: 1px solid #2196F3;
}

.contact-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 40px;
  color: #ffffff;
  background-color: #2196F3;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: Center;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border-width: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-btn:hover,
.contact-btn:focus {
  background-color: #188CE8;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.close-button {
  position: absolute;
  top: 8px;
  left: 412px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .close-button {
    left: 490px;
  }
}
@media (max-width: 479px) {
  .close-button {
    left: 88%;
  }
}

.close-button:hover,
.close-button:focus {
  fill: #2196F3;
}

.section .section-title {
  color: #212121;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: Center;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .section .section-title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.icon-wrap {
  background-color: #F5F4FA;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  height: 120px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .icon-wrap {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .icon-wrap {
    width: 270px;
  }
}

.advantages__pic {
  fill: #2196F3;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

@media screen and (min-width: 768px) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
  }
}
.advantages__list .title {
  color: #212121;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .advantages__list .title {
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__list {
    flex-wrap: nowrap;
  }
}

.advantage__item {
  flex-basis: calc(100% - 30px);
}
@media (min-width: 768px) and (max-width: 1199px) {
  .advantage__item {
    flex-basis: calc((100% - 60px) / 2);
    flex-direction: row;
  }
  .advantage__item:nth-child(2n) {
    margin-left: 30px;
  }
  .advantage__item:nth-child(n+3) {
    margin-top: 30px;
  }
}
@media (min-width: 1200px) {
  .advantage__item {
    flex-basis: calc((100% - 30px) / 4);
    margin-left: 30px;
    margin-right: 0;
    margin-top: 0;
  }
  .advantage__item:first-child {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .advantage__item:not(:first-child) {
    margin-top: 30px;
  }
}
.text-wrap {
  width: 100%;
}

.about {
  padding-top: 0;
}
@media (max-width: 1199px) {
  .about {
    display: none;
  }
}
.about__list {
  display: flex;
}

.about__item {
  margin-right: 30px;
}
.about__itemlast-child {
  margin-right: 0;
}

.about__wrap {
  position: relative;
}
.about__wrap .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  justify-content: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.about__caption {
  position: absolute;
  display: flex;
  width: 100%;
  height: 70px;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
}

.team {
  background-color: #F5F4FA;
  margin-left: auto;
  margin-right: auto;
}
.team__list {
  display: flex;
  flex-direction: column;
}
.team__title {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}
.team__item {
  margin-bottom: 30px;
  background-color: #ffffff;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .team__list {
    flex-direction: column;
  }
  .team__item {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 479px) {
  .team__img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  }
  .team__item {
    margin-left: 30px;
  }
  .team__item:nth-child(2n+1) {
    margin-left: 0;
  }
  .team__item:nth-child(n+3) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    margin-left: 30px;
  }
  .team__item:first-child {
    margin-left: 0;
  }
  .team__list {
    flex-direction: row;
  }
}
.team__card {
  padding: 30px 10px;
}

.team__text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.social {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.social__link--team {
  color: #afb1b8;
  transition-property: color, background-color;
}

.social__link:hover,
.social__link:focus {
  color: #ffffff;
  background-color: #2196F3;
}

.social__icon {
  fill: currentColor;
}

.client__list {
  display: flex;
}
@media (max-width: 1199px) {
  .client__list {
    flex-wrap: wrap;
  }
}

.client__logo {
  align-items: center;
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition-property: color, border;
}
@media screen and (min-width: 768px) {
  .client__logo {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .client__logo {
    width: 170px;
  }
}
.client__logo:hover {
  color: #2196F3;
  border: 1px solid #2196F3;
}
.client__logo:focus {
  color: #2196F3;
  border: 1px solid #2196F3;
  outline: none;
}

@media (max-width: 479px) {
  .client__logo {
    width: auto;
  }
}
.client__item {
  margin-bottom: 30px;
  margin-right: 30px;
  flex-basis: calc((100% - 30px) / 2);
}

@media (max-width: 767px) {
  .client__item:nth-child(n+4) {
    margin-bottom: 0;
  }
  .client__item:nth-child(even) {
    margin-right: 0;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .client__item {
    flex-basis: calc((100% - 90px) / 3);
  }
  .client__item:nth-child(3n) {
    margin-right: 0;
  }
  .client__item:nth-child(n+4) {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .client__item {
    margin-bottom: 0;
  }
  .client__item:last-child {
    margin-right: 0;
  }
}
.client__pic {
  fill: currentColor;
}

.footer {
  background-color: #2f303a;
  height: 603px;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (min-width: 768px) {
  .footer {
    height: 463px;
    padding-left: 82px;
    padding-right: 82px;
  }
}
@media (min-width: 1200px) {
  .footer {
    height: 252px;
    padding-left: 0;
    padding-right: 0;
  }
}
.footer__links .link {
  color: #ffffff;
  letter-spacing: 0.03em;
  line-height: 1.71;
  font-weight: 400;
  font-style: normal;
}
.footer__links .link:hover, .footer__links .link:focus {
  color: #2196F3;
}

.footer__links {
  margin-top: 20px;
}

.footer__links .contact {
  color: rgba(255, 255, 255, 0.6);
}

@media (max-width: 1199px) {
  .footer__links .contact {
    text-align: center;
    justify-content: center;
  }
}
.footer__container {
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .footer__container {
    display: flex;
  }
}
.footer__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 768px) {
  .footer__list {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer__list {
    flex-wrap: nowrap;
  }
}
.footer__block {
  text-align: center;
  margin-bottom: 60px;
  flex-basis: 100%;
}

@media screen and (min-width: 768px) {
  .footer__block {
    flex-basis: 35%;
  }
}
@media screen and (min-width: 1200px) {
  .footer__block {
    text-align: left;
    flex-basis: auto;
  }
}
.contacts__item {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .contacts__item {
    margin-bottom: 9px;
  }
}
.contacts__item:last-child {
  margin-bottom: 0;
}

.address {
  display: block;
}

.footer__social {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.footer__title {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .footer__block:first-child {
    margin-right: 90px;
  }
}
.social__link--footer {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link:hover,
.social__link:focus {
  background-color: #2196F3;
}

@media (max-width: 1199px) {
  .signup {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.signup__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .signup__form {
    flex-direction: row;
  }
  .signup {
    margin-left: 90px;
  }
}
.signup__window {
  width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  color: #ffffff;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-left: 16px;
  justify-content: center;
  outline: none;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}
.signup__window:focus {
  border: 1px solid #2196F3;
}

@media screen and (min-width: 1200px) {
  .signup__window {
    width: 358px;
    margin-right: 12px;
  }
}
@media (max-width: 478px) {
  .signup__window {
    width: calc(100% - 30px);
  }
}
.signup__btn {
  font-family: inherit;
  color: #ffffff;
  background-color: #2196F3;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border-width: 0;
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: background-color;
  align-items: center;
  justify-content: center;
  font-family: inherit;
}
.signup__btn:hover, .signup__btn:focus {
  background-color: #188CE8;
}

@media screen and (min-width: 1200px) {
  .signup__btn {
    width: 200px;
  }
}
.signup__icon {
  fill: currentColor;
  margin-left: 12px;
  margin-top: auto;
  margin-bottom: auto;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=main.css.map */