$primary-color: #757575;
$secondary-color: #212121;
$accent-color: #2196F3;
$active-color: #188CE8;
$secondary-back-color: #F5F4FA;
$button-color: #f5f4fa;
$back-color: #ffffff;
$temp-color: #2f303a;

